.order {
  margin-top: 72px;
  margin-bottom: 48px;
}

.order-title {
  margin-bottom: 60px;
}

.form-label {
  margin-bottom: 18px;
}

.order .btn {
  padding: 7px 37px;
}

.success-form-info {
  margin-bottom: 96px;
}
